---
const { title = 'Design Day 2026' } = Astro.props;
---
<!DOCTYPE html>
<html lang="sr-Latn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&family=Roboto:wght@100;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: #F5F0EB; color: #1C1C1A; margin: 0;">
    <slot />
  </body>
</html>
